<nav class="w-full bg-zinc-500 p-3 flex justify-between capitalize gap-5 font-bold text-2xl  text-white mt-5">
    
    <i class="ri-ancient-pavilion-line"></i>
    <div class="gap-5 flex">
        <a href="">home</a>
        <a href="">more</a>
        <a href="">about us</a>
    </div>
   <div> 
    <a href="">login</a>
    /
    <a href="">register</a>
</div>
</nav>