

    <%-include("./partials/header")%>
    <%-include("./partials/nav")%>
   <div class="main section">
    <div class="page-1 w-full h-screen bg-zinc-900 relative ">
      <div class="w-[25%] h-[25%] ml-[35%] text-center py-5 font-semibold">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsam saepe expedita blanditiis fugit sunt adipisci. Quo ut voluptas debitis cupiditate blanditiis asperiores pariatur mollitia.</p>
      </div>
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-2/3">
        <div class=" w-full  flex gap-5 justify-center items-center uppercase font-bold text-2xl"> 
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>

        </div>
        <div class=" w-full  flex gap-5 justify-center items-center uppercase font-bold text-2xl -translate-x-5"> 
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>

        </div>
         
        <div class=" w-full  flex gap-5 justify-center items-center uppercase font-bold text-2xl translate-x-10"> 
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>

        </div>
        <div class=" w-full  flex gap-5 justify-center items-center uppercase font-bold text-2xl"> 
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>
          <div class="w-10 h-10 rounded-full bg-red-400"><i class="ri-at-fill"></i></div>
          <h4>radheshyam</h4>

        </div>
      </div>
      <div class="absolute bottom-6 w-60  h-52 py-10  ml-10 text-center font-semibold">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis expedita ut earum facere ex sint.</p>
      </div>
    </div>

    <div class="page-2 section flex justify-between">
      <div class="left w-1/3 h-screen bg-red-700 p-5">
        <p class="text-2xl font-light ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat nostrum accusamus doloribus voluptatem! Aut id qui dolore dicta rem voluptatem nisi, eligendi et minus. Fugit sapiente facilis aliquam unde quaerat.</p>

        <h3 class="text-3xl font-bold mt-10 text-start p-5 font-['sens-serif'] bg-red-700">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, veniam?
        </h3>
      </div>
      <div class="right w-1/2  bg-zinc-900 text-2xl">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nihil quidem consequuntur maiores quae quisquam iure dolorem magnam deleniti illum dolore debitis, eum, ex natus excepturi facere molestias inventore consectetur placeat sunt autem explicabo? Ab itaque quaerat nesciunt vel possimus, voluptate amet eligendi autem illum perspiciatis fuga animi quo neque quisquam sint? Laborum nisi magni deserunt adipisci cumque. Pariatur iure, hic aperiam, saepe tempora illo culpa repudiandae veniam dolor ullam nostrum placeat tempore vero enim voluptas ipsa at suscipit, unde numquam nam ipsam! Odio, soluta at! Expedita voluptatum commodi non! Perferendis ad harum cumque sequi laborum labore, totam eaque facilis.
      </div>
    </div>

    <div class="page3  h-[400vh] w-full">
      <div class="slider  w-[300vw] h-screen sticky top-0 flex flex-shrink-0">
        <div class="c-1 w-full h-screen bg-green-500 relative w-[100vw]">  
          <div class="section text-5xl absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center relative">
           <div>
            <h2>
              Lorem ipsum 
            </h2>
            <h2>
              dolor sit amet.
            </h2>
           </div>
            <div class="w-[15rem] h-[15rem] bg-blue-500 absolute right-0 translate-x-1/2 rounded-full object-cover overflow-hidden">
              <img src="https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODR8fG1vZGVsfGVufDB8fDB8fHww" alt="">
            </div>
          </div>
        </div>
        <div class="c-2 w-full h-screen bg-pink-500 flex justify-center items-center w-[100vw]">
          <div class="w-[60%] bg-red-500 font-['Foldit'] text-center">
            <h1 class="text-[60px]">20.4time</h1>
            <h2 class="text-2xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, architecto eum soluta laudantium dolore rerum?</h2>
          </div>
        </div>
        <div class="c-3 w-full h-screen bg-blue-500 w-[100vw]"></div>

      </div>
    </div>
    <div class="page-5 section w-full h-screen bg-red-700">
      <h1 class="text-2xl font-regular text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, officiis!</h1>
      <div class="m-10 ">
        <div class=" item w-full text-3xl border-b-2 border-black uppercase py-10  h-[25%] relative">
          <div class="bluelayer w-full  absolute top-0 h-[10%] bg-blue-500 flex justify-between  left-0">
            <div class="flex gap-5">
              <h1 class="text-3xl font-light">01</h1>
              <h1>mr.radheshaym lodhi</h1>
            </div>
            <h1>ceo</h1>
          </div>
        </div>
        <div class=" item w-full text-3xl border-b-2 border-black uppercase py-10  h-[25%] relative">
          <div class="bluelayer w-full  absolute top-0 h-[10%] bg-blue-500 flex justify-between  left-0">
            <div class="flex gap-5">
              <h1 class="text-3xl font-light">01</h1>
              <h1>mr.radheshaym lodhi</h1>
            </div>
            <h1>ceo</h1>
          </div>
        </div> 
        <div class=" item w-full text-3xl border-b-2 border-black uppercase py-10  h-[25%] relative">
          <div class="bluelayer w-full  absolute top-0 h-[10%] bg-blue-500 flex justify-between  left-0">
            <div class="flex gap-5">
              <h1 class="text-3xl font-light">01</h1>
              <h1>mr.radheshaym lodhi</h1>
            </div>
            <h1>ceo</h1>
          </div>
        </div>
        <div class=" item w-full text-3xl border-b-2 border-black uppercase py-10  h-[25%] relative">
          <div class="bluelayer w-full  absolute top-0 h-[10%] bg-blue-500 flex justify-between  left-0">
            <div class="flex gap-5">
              <h1 class="text-3xl font-light">01</h1>
              <h1>mr.radheshaym lodhi</h1>
            </div>
            <h1>ceo</h1>
          </div>
        </div> 
        
      </div>
      

    </div>
    

   </div>

    <%-include("./partials/footer")%>
